---
layout: sensorDefault
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>
  <div class="post-content">
    <input type = "text" id = "textField" name = "value" value = "Sensor Data: " readonly>
    <button type="button" onclick = "sensorRequest();">Get Sensor Data!</button>
    <select name = "sensor_actions" id = "sensor_actions">
        <option value = "Latest">Latest</option>
        <option value = "10 Reading Average">10 Reading Average</option>
        <option value = "All Reading Average">All Reading Average</option>
    </select>
    <br>
    <button type = "button" onclick = "getSensorChartData();">Plot Sensor Data!</button>
    <canvas id="lineChart" width = "1600" height = "900"></canvas>
    <script>
        getSensorChartData();
    </script>
    {{ content }}
  </div>

</article>


